html, body {
    margin: 0;
    padding: 0;
}

p {
    padding: 0 10px;
    line-height: 1.8;
}

ul li {
    padding-right: 10px;
    line-height: 1.6;
}

h3 {
    padding: 5px 20px;
    margin: 0;
}

div#header {
    position: relative;
    background-color: #0072CE;
}

.centreimage{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: auto;
}


div#footer {
    background: #42444e;
    color: #fff;
    position: fixed;
    left:0;
    bottom:0;
    width:100%;
    text-align: center;
}

div#footer p {
    padding: 5px 5px;
}

div#extra {
    clear: both;
    width: 100%;
}

div#imageupload{
    clear:both;
    width:100%;
}

div#content{
    padding-top: 10%;
}

.container{
    background-color: #fff;
    width:90%;
    margin: 3.12em auto;
    padding: 3.12em 1.25em;
    border-radius: 0.43em;
    box-shadow: 0 1.25em 2.18em #0072CE;
}

