<!DOCTYPE html>
<html>
  <head>
    <link href="/views/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="/images/elephant.jpeg" alt="Elephantacus" style="width:100%">
        </div>
        <div class="flip-card-back">
          <h1>Elephant</h1>
          <p>Grey</p>
          <p>Big Trunk</p>
        </div>
      </div>
    </div>
    <div class="card">
      <img src="/images/elephant.jpeg" alt="Elephant" style="width: 80%">
      <h1>Elephant</h1>
      <p class="title">Filtered Lables</p>
      <ul class="list-style">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
      </ul>
      <p class="title">Unfiltered Labels</p>
      <ul class="list-style">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
      </ul>
      <p class="title">Animal Information</p>
      <p>This is where the inforamtion about the animal will go</p>
    </div>    
  </body>
</html>