<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/views/style.css" rel="stylesheet" type="text/css">
  <title>Gallery Page</title>
</head>



<body>
  <div class="header">
    <img src="views\elanco_logo.png" alt="logo" class="centreimage" />
    <div class="Item2">
      <a href="views\index.ejs">Home</a>
    </div>
  </div>
  <div class="container">
    Previous Submissions
  </div>
  <div class="container">
    <div class="smallCard">
      CARD 1
    </div>
    <div class="smallCard">
      CARD 1
    </div>
    <div class="smallCard">
      CARD 1
    </div>
    <div class="smallCard">
      CARD 1
    </div>
    <div class="smallCard">
      CARD 1
    </div>
  </div>
  <div class="secondFooter">
    <a href="views\gallery.ejs">Gallery</a>
    Elanco Team 1
  </div>
</body>



</html>