<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style2.css">
    <title>Title Page</title>
</head>
<body>


    <h1>Welcome to the Machine Learning Experiance</h1>
    <h2>Upload image</h2>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="submit">
    </form>



    <div id="header">
    <img src="elanco_logo.png"  alt="logo" class="centreimage" />    
    </div>

    <div class="container">
        <input type="file" id="file-input" multiple>
        <label for="file-input"><i class="fa-solid fa-upload"></i>
        &nbsp; Choose Files to Upload.
        </label>
        <div id="num-of-files">No Files Chosen</div>

    </div>
    <div class="container">
        <div class="header">
            Report
            <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> 
        </div>

    </div>
<div class="backgroundHere">
</div>
<div class="firstFooter">
    <div class="firstFooterContainer">
        <div class = "Header">
            Our Company 
        </div>
        <div class = "footer-text">
            <a style="text-decoration: none" href="https://www.elanco.com/en-us/about-us/about-elanco">We Are Elanco</a>
        </div>
        <div class = "footer-text">
            <a style="text-decoration: none" href="https://www.elanco.com/en-us/about-us/our-journey">Our Journey</a>
        </div>
        <div class = "footer-text">
            <a style="text-decoration: none" href="https://www.elanco.com/en-us/about-us/culture-and-values">Culture Journey</a>
        </div>
        <div class = "footer-text">
            <a style="text-decoration: none" href="https://www.elanco.com/en-us/about-us/our-people">Our People</a>
        </div>
        <div class = "footer-text">
            <a style="text-decoration: none" href="https://www.elanco.com/en-us/sustainability">Sustainability</a>
        </div>
        <div class = "footer-text">
            <a style="text-decoration: none" href="https://www.elanco.com/en-us/sustainability/the-foundation">Elanco Foundation</a>
        </div>
        <div class = "footer-text">
            <a style="text-decoration: none" href="https://www.elanco.com/en-us/contact">Contact</a>
        </div>
        <div class = "footer-text">
            <a style="text-decoration: none" href="https://www.elanco.com/en-us/suppliers">Suppliers</a>
        </div>
            
    </div>
</div>

<div class="secondFooter">
    <footer> 
        
    
 



</footer>
</div>

<script src="script.js"></script>





</body>
</html>