<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/views/style.css" rel="stylesheet" type="text/css">
    <title>Title Page</title>

</head>

<body>
    <div class="header">
        <img src="views\elanco_logo.png"  alt="logo" class="centreimage" /> 
        <div class="Item2">Previous Submissions</div>
    </div>
    <div class="container">
        <form method="POST" action="/upload" enctype="multipart/form-data">
            <label for="image">Select a file</label>
            <input type="file" name="images" id="image" accept="image/*" multiple onchange="previewImage(event)">
            <div id="thumbnails" class="thumbnails-container"></div>
            <br>
            <label for="submit-button">Submit</label>
            <input type="submit" id="submit-button">
        </form>
        <script>
            function previewImage(event) {
                var thumbnailsContainer = document.getElementById('thumbnails');
                thumbnailsContainer.innerHTML = ''; // Clear the thumbnails container

                for (var i = 0; i < event.target.files.length; i++) {
                    var file = event.target.files[i];
                    var reader = new FileReader();

                    reader.onload = (function (file) {
                        return function (e) {
                            var img = document.createElement('img');
                            img.src = e.target.result;
                            img.classList.add('thumbnail');
                            img.alt = 'Thumbnail';
                            thumbnailsContainer.appendChild(img);
                        };
                    })(file);

                    reader.readAsDataURL(file);
                }
            }
        </script>
        <a href="/gallery" class="button">View Previous Results</a>

        <div class="backgroundHere">
        </div>
    </div>
    <div class="secondFooter">
        <a href="/gallery">Gallery</a>
        Elanco Team 1        
    </div>


<script src="script.js"></script>
    </script>



</body>

</html>