
.fcontainer{
    box-sizing: border-box;
    float:left;
    width:80%;
}
.header{
    width:50%;
    height:20%;
    padding-left:25%;
    padding-right:25%;
    background-color: #0072CE;
}
.uploadPageLogo{
    float:center;
}
